/* Theme */
:root {
	/* Colors */
}

/* Tabs */

/* Tab bar */
.workspace-tab-header-container {
	width: 100%;

	/* Tab bar - inner */
	.workspace-tab-header-container-inner {
		width: 100%;

		/* Tab */
		.workspace-tab-header {
			flex-grow: 1;
			border: 1px solid white;
			border-bottom-width: 3px;
		}
	}
}
